.averageSessionChart {
  width: 258px;
  height: 263px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    var(--lightRed) 0%,
    var(--lightRed) 70%,
    var(--red) 70%,
    var(--red) 100%
  );

  h2 {
    color: #ff8181;
    font-weight: 500;
    font-size: 15px;
    width: 147px;
    position: absolute;
    margin-left: 25px;
    margin-top: 20px;
  }

  &__tooltip {
    width: 43px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 11px;
  }
}
