header {
  background-color: var(--black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  nav {
    display: flex;
    align-items: center;
    height: 91px;

    img {
      width: 177px;
      height: 60px;
      margin: 0 149px 0 28px;
    }

    ul {
      display: flex;
      gap: 200px;

      li a {
        color: white;
        font-weight: 500;
        font-size: 24px;
      }
    }
  }
}

/* *********** Responsive ********** */
@media (max-width: 1339px) {
  header nav {
    height: 81px;

    img {
      width: 167px;
      height: 50px;
      margin: 0 129px 0 28px;
    }

    ul {
      gap: 100px;

      li a {
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
}
