.sidebar {
  width: 117px;
  min-height: 933px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 256px;
  }

  span {
    color: white;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: 140px;
    font-weight: 500;
    font-size: 12px;
  }
}
