.userProfile {
  h1 {
    font-weight: 500;
    font-size: 48px;
  }

  &__name {
    font-weight: 500;
    font-size: 48px;
    color: var(--lightRed);
  }

  p {
    font-size: 18px;
    margin-top: 41px;
  }
}
