/* *********** Import pages and components ********** */
@use "./pages/community.scss";
@use "./pages/settings.scss";
@use "./components/header.scss";
@use "./components/sidebar.scss";
@use "./components/sidebarButton.scss";
@use "./components/dailyChart.scss";

/* *********** Import general ********** */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* *********** Variables ********** */
:root {
  --black: #020203;
  --red: #e60000;
  --lightGrey: #fbfbfb;
  --fontGrey: #74798c;
}

/* *********** Global Styles ********** */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  display: flex;
}

.commingSoon {
  font-size: 50px;
}
